In [3]:
import pandas as pd
from app.models import Participant
from app import app

In [11]:
with app.app_context():
    df = pd.DataFrame([{'name': p.name, 'filename': r.filename, 'response': r.response, 'RT': r.response_time}
                       for p in Participant.query.all() for r in p.images])

In [15]:
df.dropna()#.groupby('name').count()

        name filename  response            RT
0       test   59.png      90.0   5487.314945
50     Pablo  159.png      70.0  19588.298884
51     Pablo   11.png     110.0  10071.317945
52     Pablo   49.png      70.0   9025.951046
53     Pablo   20.png      50.0   8535.827885
...      ...      ...       ...           ...
2795  Patryk   65.png     100.0   7478.495517
2796  Patryk  228.png      50.0  14423.313322
2797  Patryk   63.png      90.0   3931.629942
2798  Patryk  219.png      70.0   7632.017599
2799  Patryk  131.png      90.0   5098.972503

[1939 rows x 4 columns]